:root {
    --color-priamry: hsl(245, 75%, 52%);
    --color-secondary: hsl(245deg 83% 68%);
    --color-body: hsl(224, 23%, 55%);
    --color-headings: hsl(223, 47%, 23%);
    --border-radius: 10px;
}


/* Typography */

html {
    font-size: 62.5%;
}

body {
    font-family: 'Red Hat Display', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.6rem;
    line-height: 1.6;
}

h1,
h2 {
    color: var(--color-headings);
    margin-top: 0;
    font-weight: 900;
}

p {
    color: var(--color-body);
}


/* Containers */

body {
    background: hsl(225, 100%, 94%) url(./images/pattern-background-mobile.svg) no-repeat;
    background-size: 100% auto;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    padding: 2.4rem;
}

@media screen and (min-width: 600px) {
    body {
        background: hsl(225, 100%, 94%) url(./images/pattern-background-desktop.svg) no-repeat;
        background-size: 100% auto;
    }
}


/* Links */

.link {
    font-weight: 900;
    outline: 0;
    transition: color .15s;
}

.link:hover,
.link:focus {
    text-decoration: none;
    color: var(--color-secondary);
}

.link--primary {
    color: var(--color-priamry);
}

.link--small {
    font-size: 1.2rem;
}

@media screen and (min-width: 600px) {
    .link {
        font-size: 1.5rem;
    }
}


/* Buttons */

.btn {
    border-radius: var(--border-radius);
    border: 0;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 900;
    margin: 12px 0;
    outline: 0;
    padding: 1.7rem 2.2rem;
    transition: background-color .2s ease-in-out, color .2s ease-in-out;
}

.btn--block {
    display: inline-block;
    width: 100%;
}

.btn--primary {
    background-color: var(--color-priamry);
    box-shadow: 0 12px 32px -2px rgba(56, 41, 224, .4);
    color: #fff;
}

.btn--primary:hover,
.btn--primary:focus {
    background-color: var(--color-secondary);
}

.btn--light {
    background: transparent;
    color: var(--color-body);
}

.btn--light:hover,
.btn--light:focus {
    color: hsl(224deg 41% 16%);
}

.btn:last-of-type {
    margin-bottom: 0;
    padding: 1rem 2.2rem 1rem;
}


/* Media Object */

.media {
    display: flex;
}

.media__image {
    margin-right: 18px;
}

.media__title {
    margin-bottom: .5rem;
}


/* Card */

.card {
    border-radius: 18px;
    background: #fff;
    overflow: hidden;
    box-shadow: 0 18px 40px -12px rgba(56, 41, 224, .275);
}

.card__body {
    padding: 2.3rem;
}

@media screen and (min-width: 600px) {
    .card__body {
        padding: 2.3rem 4.2rem;
    }
}


/* Plan */

.plan {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: hsl(225, 100%, 98%);
    padding: 1.6rem;
    border-radius: var(--border-radius);
    margin: 1.5rem 0;
}

.plan .media {
    align-items: center;
}

.plan .media__image {
    display: flex;
    align-items: center;
}

.plan__title {
    font-size: 1.5rem;
    margin-bottom: 0;
    white-space: nowrap;
}

.plan__description {
    margin: 0;
    font-size: 1.55rem;
}


/* Order Summary */

.order-summary {
    max-width: 420px;
}

.order-summary_image {
    width: 100%;
}

.order-summary__header {
    text-align: center;
}

.order-summary__heading {
    font-size: 2.35rem;
}

.order-summary__text {
    width: 94%;
    margin: 0 auto 2.2rem;
}


/* Attribution */

.attribution {
    margin: 4rem 0;
    text-align: center;
    color: var(--color-body);
    font-size: 1.2rem;
    opacity: .8;
}