<div class="card">
    <div class="card__body">
        <h1>Order Summary</h1>
        <p>
            You can now listen to millions of songs, audiobooks, and podcasts on any device anywhere you like!
        </p>
        <section>
            <div class="media">
                <div class="media__image">
                    <img src="./images/icon-music.svg" alt="">
                </div>
                <div class="media__body">
                    <h2 class="media__title">Annual Plan</h2>
                    <p>$59.99/year</p>
                </div>
            </div>
            <a class="link link--primary link--small" href="#">Change</a>
        </section>
        <button class="btn btn--block btn--primary">Proceed to Payment</button>
        <button class="btn btn--block btn--light">Cancel Order</button>
        <div class="attribution">
            Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>. Coded by <a href="#">MoeinZ</a>.
        </div>
    </div>
</div>